/* HEADER */
header {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgb(190, 190, 190);
}

.navbar-container {
    grid-template-columns: max-content 1fr max-content;
}

.notif {
    width: 20px;
    height: 20px;
    background-color: #6A4029;
    color: #fff;
    top: -10px;
    left: -10px;
}

.photo {
    width: 50px;
    height: 50px;
}
/* end HEADER */





/* PROFILE */
section {
    background-image: url(../img/profile-bg.jpg);
}

.profile-container {
    background-color: #fff;
    grid-template-columns: 1fr 2fr;
    column-gap: 10%;
}

.profile-image {
    width: 100px;
    height: 100px;
}
/* end PROFILE */